{% extends 'base.html.twig' %}
{% block title %}404 - صفحة غير موجودة{% endblock %}
{% block body %}

        <div class="row">
            <div class="col-sm-12 col-md-12">
                <h1 class="pageHeader text-center">صفحة غير موجودة</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <h3 class="notFound text-center">عزيزي الزائر الصفحة التي تبحث عنها غير متوفرة حاليا, يمكنك اعادة المحاولة لاحقا.</h3>
            </div>
        </div>
        <br>
        <br>


{% endblock %}