{% extends 'base.html.twig' %}
{% block title %}خطأ غير متوقع{% endblock %}
{% block body %}

        <div class="row">
            <div class="col-sm-12 col-md-12">
                <h1 class="pageHeader text-center">خطأ غير متوقع</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <h3 class="notFound text-center">عزيزي الزائر الصفحة هناك مشكل في الموقع حاليا, يمكنك اعادة المحاولة لاحقا.</h3>
            </div>
        </div>
        <br>
        <br>


{% endblock %}